# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
.eggs/
*.egg-info/

# Executable files
tspmed

# Environments
.venv

# Visual Studio Code and Jupyter Notebooks
.vscode/
.ipynb_checkpoints/